@import url(https://fonts.googleapis.com/css?family=Lora:400,700);






























#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-0 .mbr-navbar__section {
  background: #2c82c9;
}
#menu-0 .mbr-navbar__hamburger {
  color: #2969b0;
}
#menu-0 .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Lora', serif;
}
#slider-18 P {
  color: #000000;
  font-family: 'Lora', serif;
  text-align: left;
}
#msg-box3-2x .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 18px;
}
#msg-box3-2x .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box2-12 .mbr-header .mbr-header__text {
  color: #000000;
  text-align: left;
  font-size: 17px;
  font-family: 'Lora', serif;
}
#msg-box2-12 .mbr-article {
  color: #252525;
}
#msg-box3-2f .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 17px;
  color: #000000;
  font-family: 'Lora', serif;
}
#msg-box3-2f .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2f .mbr-article P {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 15px;
}
#msg-box3-2f .mbr-article {
  color: #000000;
}
#msg-box4-2q .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2q .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2q .mbr-article {
  color: #000000;
}
#msg-box4-2q .mbr-article P {
  font-family: 'Lora', serif;
  font-size: 15px;
}
#msg-box4-2q .btn {
  font-family: 'Lora', serif;
  font-size: 12px;
}
#features1-2r P {
  text-align: left;
  color: #000000;
  font-family: 'Lora', serif;
  font-size: 15px;
}
#msg-box2-10 .mbr-header .mbr-header__text {
  color: #000000;
  font-size: 17px;
  font-family: 'Lora', serif;
}
#msg-box2-10 .mbr-article {
  color: #252525;
}
#msg-box4-33 .mbr-header__text {
  color: #000000;
  font-family: 'Lora', serif;
  font-size: 17px;
}
#msg-box4-33 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-33 .mbr-article {
  color: #000000;
  font-family: 'Lora', serif;
  font-size: 15px;
}
#msg-box4-33 .mbr-article P {
  font-family: 'Lora', serif;
  font-size: 15px;
}
#msg-box4-33 .btn {
  font-family: 'Lora', serif;
  font-size: 13px;
}
#msg-box3-36 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 17px;
}
#msg-box3-36 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-36 .mbr-article {
  color: #000000;
}
#msg-box3-36 .mbr-article P {
  font-family: 'Lora', serif;
  font-size: 15px;
  text-align: center;
}
#msg-box2-31 .mbr-header .mbr-header__text {
  color: #252525;
  text-align: center;
  font-size: 17px;
  font-family: 'Lora', serif;
}
#msg-box2-31 .mbr-article {
  color: #252525;
}
#msg-box4-2z .mbr-header__text {
  color: #222222;
  font-family: 'Lora', serif;
  font-size: 17px;
}
#msg-box4-2z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2z .mbr-article {
  color: #000000;
}
#msg-box4-2z .mbr-article P {
  font-family: 'Lora', serif;
  font-size: 15px;
  text-align: center;
}
#video2-32 SMALL {
  font-size: 16px;
  font-family: 'Lora', serif;
}
#video2-2y SMALL {
  font-family: 'Lora', serif;
  font-size: 16px;
}
#features1-2g P {
  font-family: 'Lora', serif;
  font-size: 15px;
  text-align: left;
  color: #000000;
}
#features1-2g .mbr-section__col .mbr-header__text {
  font-family: 'Lora', serif;
}
#msg-box2-2o .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-2o .mbr-article {
  color: #252525;
}
#msg-box4-2m .mbr-header__text {
  color: #000000;
  text-align: left;
  font-family: 'Lora', serif;
  font-size: 16px;
}
#msg-box4-2m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2m .mbr-article {
  color: #000000;
}
#msg-box4-2m .mbr-article P {
  font-family: 'Lora', serif;
  font-size: 15px;
  text-align: center;
}
#msg-box4-2m .btn {
  font-family: 'Lora', serif;
  font-size: 13px;
}
#msg-box2-2p .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-2p .mbr-article {
  color: #252525;
}
#msg-box2-j .mbr-header .mbr-header__text {
  color: #000000;
  font-size: 17px;
  font-family: 'Lora', serif;
}
#msg-box2-j .mbr-article {
  color: #252525;
}
#content5-14 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-14 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-14 .mbr-article {
  color: #000000;
}
#content5-14 .mbr-article P {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 15px;
}
#contacts1-s P {
  font-family: 'Lora', serif;
  color: #000000;
  font-size: 12px;
}
#social-buttons2-m .mbr-header__text {
  font-size: 14px;
  font-family: 'Lora', serif;
}





#menu-8 .mbr-brand__name {
  font-size: 16px;
}
#menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-8 .mbr-navbar__section {
  background: #2c82c9;
}
#menu-8 .mbr-navbar__hamburger {
  color: #2969b0;
}
#menu-8 .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Lora', serif;
}
#msg-box3-1g .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 17px;
  font-family: 'Lora', serif;
  color: #ffffff;
}
#msg-box3-1g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1g .mbr-article P {
  text-align: center;
  font-size: 15px;
  font-family: 'Lora', serif;
}
#msg-box3-1g .mbr-article {
  color: #ffffff;
}
#msg-box2-1k .mbr-header .mbr-header__text {
  color: #252525;
  font-family: 'Lora', serif;
  font-size: 17px;
  text-align: right;
}
#msg-box2-1k .mbr-article {
  color: #252525;
}
#msg-box2-1j .mbr-header .mbr-header__text {
  color: #252525;
  font-size: 17px;
  font-family: 'Lora', serif;
  text-align: right;
}
#msg-box2-1j .mbr-article {
  color: #252525;
}
#slider-2j P {
  color: #000000;
}





#menu-d .mbr-brand__name {
  font-size: 16px;
}
#menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-d .mbr-navbar__section {
  background: #2c82c9;
}
#menu-d .mbr-navbar__hamburger {
  color: #2969b0;
}
#menu-d .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Lora', serif;
}
#msg-box4-2t .mbr-header__text {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Lora', serif;
  text-align: left;
}
#msg-box4-2t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2t .mbr-article {
  color: #ffffff;
}
#msg-box4-2t .mbr-article P {
  font-family: 'Lora', serif;
  font-size: 15px;
}
#msg-box3-17 .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 18px;
  font-family: 'Lora', serif;
}
#msg-box3-17 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-17 .mbr-article P {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 15px;
}
#msg-box3-17 .mbr-article {
  color: #000000;
}
#msg-box3-17 .btn {
  font-size: 12px;
}





#menu-n .mbr-brand__name {
  font-size: 16px;
}
#menu-n.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-n .mbr-navbar__section {
  background: #2c82c9;
}
#menu-n .mbr-navbar__hamburger {
  color: #2969b0;
}
#menu-n .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Lora', serif;
}
#msg-box4-2v .mbr-header__text {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 17px;
}
#msg-box4-2v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2v .mbr-article {
  color: #ffffff;
}
#msg-box4-2v .mbr-article P {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 15px;
}
#form1-p .mbr-header__text {
  font-size: 17px;
  font-family: 'Lora', serif;
}
#form1-p .btn {
  font-family: 'Lora', serif;
  font-size: 12px;
}




#menu-t .mbr-brand__name {
  font-size: 16px;
}
#menu-t.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-t .mbr-navbar__section {
  background: #2c82c9;
}
#menu-t .mbr-navbar__hamburger {
  color: #2969b0;
}
#menu-t .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Lora', serif;
}
#msg-box4-19 .mbr-header__text {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-family: 'Lora', serif;
}
#msg-box4-19 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-19 .mbr-article {
  color: #ffffff;
}
#msg-box4-19 .mbr-article P {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 15px;
}
#content4-x P {
  font-family: 'Lora', serif;
  font-size: 16px;
  color: #000000;
}



#menu-1b .mbr-brand__name {
  font-size: 16px;
}
#menu-1b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-1b .mbr-navbar__section {
  background: #2c82c9;
}
#menu-1b .mbr-navbar__hamburger {
  color: #2969b0;
}
#menu-1b .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Lora', serif;
}
#msg-box4-2s .mbr-header__text {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 17px;
}
#msg-box4-2s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2s .mbr-article {
  color: #ffffff;
}
#msg-box4-2s .mbr-article P {
  font-family: 'Lora', serif;
  font-size: 15px;
}







#menu-1o .mbr-brand__name {
  font-size: 16px;
}
#menu-1o.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-1o .mbr-navbar__section {
  background: #2c82c9;
}
#menu-1o .mbr-navbar__hamburger {
  color: #2969b0;
}
#menu-1o .mbr-navbar__items a {
  font-size: 14px;
  font-family: 'Lora', serif;
}
#msg-box4-2u .mbr-header__text {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 17px;
}
#msg-box4-2u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2u .mbr-article {
  color: #ffffff;
}
#msg-box4-2u .mbr-article P {
  font-family: 'Lora', serif;
  font-size: 15px;
}
#msg-box3-1p .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 20px;
  font-family: 'Lora', serif;
}
#msg-box3-1p .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1p .mbr-article P {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 15px;
}
#msg-box3-1p .mbr-article {
  color: #000000;
}
#msg-box3-1p SPAN {
  font-family: 'Lora', serif;
  font-size: 12px;
}
#msg-box3-1p .btn {
  font-family: 'Lora', serif;
  font-size: 12px;
}
